<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
      http://dozer.sourceforge.net/schema/beanmapping.xsd">
    <mapping wildcard="true" map-id="StatistikaDO_StatistikaDTO">
        <class-a>rs.heliant.entity.StatistikaDO</class-a>
        <class-b>rs.heliant.dto.StatistikaDTO</class-b>
    </mapping>

    <mapping wildcard="true" map-id="StatistikaDTO_StatistikaDO">
        <class-a>rs.heliant.dto.StatistikaDTO</class-a>
        <class-b>rs.heliant.entity.StatistikaDO</class-b>
    </mapping>

</mappings>